<div id="map" class="col s12">
  <script>

    L.mapbox.accessToken = 'pk.eyJ1IjoieWVvbWFubmluamEiLCJhIjoiY2ltYmo2bzBnMDQ1NHR5a2ltOWZmeXI3aCJ9.jVpanoyAmB-eexrQsXpWdA';
    
    var map = L.mapbox.map('map', 'yeomanninja.phb28ak1', {
      // These options apply to the tile layer in the map.
      tileLayer: {
          // This map option disables world wrapping. by default, it is false.
          continuousWorld: false,
          // This option disables loading tiles outside of the world bounds.
          noWrap: true
      }
  }).setView([28.072, -1.494], 2);

  map.scrollWheelZoom.disable();

  </script>
</div>