<div class="container trips-container">

  <div class="row">
    <div id="trips-left" class="col s12 m4 center-align"> <%= link_to "Add new trip", new_trip_path, remote: true %>
      <h5>My Trips</h5>  
      <div class="row collection-row">
        <div class="collection">
          <% @trips.each do |trip| %>
            <a href="#!" class="collection-item"><%= trip.title %></a>
          <% end %>
          <div class="collection-item">Pagination</div>
          <!-- <a href="#!" class="collection-item">Alvin</a>
          <a href="#!" class="collection-item">Alvin</a>
          <a href="#!" class="collection-item">Alvin</a>
          <a href="#!" class="collection-item">Alvin</a> -->
        </div>
      </div>
    </div> <!--End col s5-->
    <div id="trips-right" class="col s12 m8">
      <%= render "map" %>
    </div>
  </div>


</div>


