<div class="container fluid" style="background-color:steelblue;">

  <div class="row">
    <div class="col s12 m5 center-align" style="background-color:salmon;"> <%= link_to "Add new trip", new_trip_path, remote: true %>
      <h5>My Trips</h5>  
      <div class="row">
        <div class="collection">
          <% @trips.each do |trip| %>
            <a href="#!" class="collection-item"><%= trip.title %></a>
          <% end %>
          <!-- <a href="#!" class="collection-item">Alvin</a>
          <a href="#!" class="collection-item">Alvin</a>
          <a href="#!" class="collection-item">Alvin</a>
          <a href="#!" class="collection-item">Alvin</a> -->
        </div>
      </div>
    </div> <!--End col s5-->
    <div id="trips-right" class="col s12 m7">
       
    </div>
  </div>

</div>