var newTrip = "<a href='javascript:void(0)' class='collection-item trip-" + "<%= @trip.id %>'><%= @trip.title %></a>";

$('#trips-left .collection').prepend(newTrip);

$('#trips-right').html("<%= j render 'map' %>").hide().fadeIn(1500);

showMap();


