<%#= flash[:notice] %>

<div id="home-wrapper">
  <div id="index-banner" class="parallax-container">
    <div class="section no-pad-bot">
      <div class="container">
        <br><br>
        <h1 class="header center teal-text text-lighten-2">Peregrine</h1>
        <div class="row center">
          <h5 class="header col s12 light top-hd">Share. Connect. Explore</h5>
        </div>
        <div class="row center">
          <a href="http://materializecss.com/getting-started.html" id="download-button" class="btn-large waves-effect waves-light teal lighten-1">Get started</a>
        </div>
        <br><br>

      </div>
    </div>
    <div class="parallax"><%= image_tag "background1" %></div>
  </div>

  <div class="container">
    <div class="section">

      <!--   Icon Section   -->
      <div class="row">
        <div class="col s12 m4">
          <div class="icon-block">
            <h2 class="center brown-text"><i class="material-icons">camera_alt</i></h2>
            <h5 class="center top-hd">Capture your Journey</h5>

            <p class="light">Photographing a culture in the here and now often means photographing the intersection of the present with the past</p>
          </div>
        </div>

        <div class="col s12 m4">
          <div class="icon-block">
            <h2 class="center brown-text"><i class="material-icons">group</i></h2>
            <h5 class="center">Find Friends</h5>

            <p class="light">Use Peregrine to find fellow travellors of similar interests. View their past and future trips. Stay connected and travel the world together through shared images and experiences.</p>
          </div>
        </div>

        <div class="col s12 m4">
          <div class="icon-block">
            <h2 class="center brown-text"><i class="material-icons">flight_takeoff</i></h2>
            <h5 class="center">Travel</h5>

            <p class="light">Learn about new locations to explore and interesting events to expereience. Search the network for potential travel buddies and explore the world together.</p>
          </div>
        </div>
      </div>

    </div>
  </div>


  <div class="parallax-container valign-wrapper">
    <div class="section no-pad-bot">
      <div class="container">
        <div class="row center">
          <h5 class="header col s12 light middle-hd">An exploration tool to help achieve your perfect trip</h5>
        </div>
      </div>
    </div>
    <div class="parallax"><<%= image_tag "background2" %></div>
  </div>

  <div class="container">
    <div class="section">

      <div class="row">
        <div class="col s12 center">
          <h3><i class="mdi-content-send brown-text"></i></h3>
          <h4>Contact Us</h4>
          <p class="left-align light">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam scelerisque id nunc nec volutpat. Etiam pellentesque tristique arcu, non consequat magna fermentum ac. Cras ut ultricies eros. Maecenas eros justo, ullamcorper a sapien id, viverra ultrices eros. Morbi sem neque, posuere et pretium eget, bibendum sollicitudin lacus. Aliquam eleifend sollicitudin diam, eu mattis nisl maximus sed. Nulla imperdiet semper molestie. Morbi massa odio, condimentum sed ipsum ac, gravida ultrices erat. Nullam eget dignissim mauris, non tristique erat. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae;</p>
        </div>
      </div>

    </div>
  </div>


  <div class="parallax-container valign-wrapper">
    <div class="section no-pad-bot">
      <div class="container">
        <div class="row center">
          <h5 class="header col s12 light bottom-hd">Show others the sights of your local town or city</h5>
        </div>
      </div>
    </div>
    <div class="parallax"><%= image_tag "background3" %></div>
  </div>

  <footer class="page-footer teal">
    <div class="footer-copyright">
      <div class="container">
      Peregrine
      </div>
    </div>
  </footer>
</div>


<script>
  


</script>
