<div class="container">
  
  <div class="row search-bar">
    <div class="col m4 offset-m4 s8 offset-s2">
       <div class="input-field">
        <input id="search" type="search" required>
        <label for="search"><i class="material-icons">search</i></label>
        <i class="material-icons">close</i>
      </div>
    </div>
  </div>
   
  
 
 

  <div class="row">
    <div class="col s12">
      <div id="main-gallery">
        <% @photos.each do |photo| %>
          <%= image_tag single_photo(photo), alt: "caption", data: { image: photo.trip_photo.url, description: "photo.caption" } %>
        <% end %>
      </div>
    </div>
  </div>


</div>



<script type="text/javascript">


  $(document).ready(function(){
    $("#main-gallery").unitegallery({
      lightbox_type: "compact",
      lightbox_arrows_position: "inside",
      gallery_theme: "tilesgrid",
      gallery_width: "100%",
      grid_num_rows: 4,
      tile_enable_icons:false
    });
  });  


</script>