<div class="container trips-photos-container">
  <%#= link_to "Add photo", new_trip_photo_path %>
  
  <div class="row">
    <div class="col s12">
      <%#= render 'trip_photos' %>
      <div id="photo-gallery">
        <% @photos.each do |photo| %>
          <%= image_tag single_photo(photo), alt: photo.location, data: { image: photo.trip_photo.url, description: photo.caption } %>
        <% end %>
      </div>
    </div>
  </div>
  <%# practice form %>

  <%= link_to 'Add new photos', new_trip_photo_path %>

  <div class="footer-copyright">
    <div class="container">
    © 2014 Copyright Text
    <a class="grey-text text-lighten-4 right" href="#!">More Links</a>
    </div>
  </div>

</div>



<script>
  $(document).ready(function(){
    $("#photo-gallery").unitegallery({
      gallery_theme: "grid",
      theme_panel_position: "left",
      theme_hide_panel_under_width: 480,
      gallery_preserve_ratio: true,
      gallery_width: "100%",
      gallery_height: "calc(100vh - 64px)",
      gallery_control_thumbs_mousewheel: false,
      slider_control_zoom: false

    });
  });
</script>
