<div class="container trips-photos-container">
  <%= link_to "Add photo", new_trip_photo_path %>
  

  <div class="col s8" style="background-color: steelblue">
    <%= render 'trip_photos' %>
  </div>

</div>
