// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/



.nav-wrapper {

  .hide-on-med-and-down {

    a {
      height: 64px;
    }

    .fa-camera-retro:before {
      font-size: 1.3em;
    }
  }

  .side-nav i.fa {
    font-size: 1.2em;
    margin-right: 11px;
  }

  .zmdi {
    display: inline-block;
    text-align: left;
    position: relative;
    font-size: 1.6em;
    top: 4px;
  }

  #dropdown1 i {
    margin-left: 6px;
  }

  .brand-logo img {
    width: 68px;
    height: 55px;
    margin: 0;
    padding: 0;
  }

}

.parallax-container {
  min-height: 380px;
  line-height: 0;
  height: auto;
  color: rgba(255,255,255,.9);

  .parallax img {
    display: block;
    transform: translate3d(-50%, 100px, 0px);
  }

  .section {
    width: 100%;
  }
  
  h1 {
    color: white;
  }

  h5 {
    width: 100%;
    font-size: 2.5em;
    font-weight: 200;
    letter-spacing: 1px;
  }

  h5.header.col.s12.light.middle-hd {
    background-color: black;
    opacity: 0.7;
    color: white;
  }

  h5.header.col.s12.light.bottom-hd {
    color: white;
  }

}


.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
  font-size: inherit;
}

#home-wrapper footer.page-footer {
  margin: 0;
} 


.recent-photos img {
  width: 100%;
}

/************** Media Queries *************/

@media only screen and (min-width : 600px) {

   .brand-logo {
      position: relative;
      top: 5px;
    }
}  

@media only screen and (max-width : 992px) {
  .parallax-container .section {
    position: absolute;
    top: 40%;
  }
  #index-banner .section {
    top: 10%;
  }
}

@media only screen and (max-width : 600px) {
  #index-banner .section {
    top: 0;
  }

  .recent-photos img {
    margin: 5% 0%;
  }

}