// Place all the styles related to the trips controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.container.trips-container {
  width: 90%;

  .collection-row {
    margin-bottom: 0;
  }

  .collection {
    margin: 0;
  }

  #trips-right {
    min-height: 502.13px;
  }
}