@mixin full-height {
  height: -webkit-calc(100vh - 64px);
  height:    -moz-calc(100vh - 64px);
  height:         calc(100vh - 64px);
}


.container.trips-container {
  width: 100%;
  margin: 0;
  max-width: none;
  @include full-height;

  .row {
    margin: 0;
  }

  .collection {
    margin: 0;
    border-right: none;
  }

  #trips-left {
    padding: 0;
    display: none;

    h5 {
      display: inline-block;
    }

    a.add-trip-btn {
      float: right;
      position: relative;
      right: 15px;
      top: 10px;
      font-size: 22px;
    }

    a.return-trip-btn {
      float: left;
      position: relative;
      left: 15px;
      top: 10px;
      font-size: 22px;
    }

  }

  #trips-right {
    padding: 0;
    min-height: 502.13px;

    .trip-form-container {
      padding-top: 20px;
    }

    #map {
      @include full-height;
      width: 100%;
      padding: 0;
      position: relative;

      .leaflet-popup-content-wrapper {
        //background-color: lightblue;
      }

      .leaflet-popup-tip {
        //border-top: 10px solid lightblue;
      }
    }

  }

  .marker-icon {
    border-radius: 20px;
  }

}

.collection-item .zmdi {
  float: right;
  margin: 0 15px;
  font-size: 22px;
}

.collection {
  li {
    padding: 10px 0;
  
    a {
      position: relative;
      left: 45px;
    }
  }
}


@media (max-width: 980px) {
  .container.trips-container ul.collection a{
    left: 0px;
  }
  
  .row .collection-item .zmdi {
    margin: 0 8px;
  }

}
