// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.photo-edit.col.s12.center-align {

  padding-top: 16px;

  img {
    max-width: 100px;
    max-height: 100px;
  }

  .file-field .btn {
    float: none;
  }

}

