<li><%= link_to "<i class='fa fa-camera-retro'></i> Explore".html_safe, edit_user_path(current_user) %></li>
<li><%= link_to "<i class='zmdi zmdi-account-o zmdi-hc-fw'></i> Profile".html_safe, edit_user_path(current_user) %></li>
<li><%= link_to "<i class='zmdi zmdi-calendar-alt zmdi-hc-fw'></i> My Trips".html_safe, user_trips_path(current_user) %></li>
<li><%= link_to "<i class='zmdi zmdi-close zmdi-hc-fw'></i> Log Out".html_safe, logout_path, method: :delete %></li> 

